.Card {
  transition: transform 0.5s;
  height: 350px;
  position: relative;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    height: 140px;
  }

  .IconFavourites {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: #dadada;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .Like {
    color: #f9fd00;
  }
  &:hover {
    transform: translateY(-5px);
    .IconFavourites {
      opacity: 1;
    }
  }
}

.Like {
  color: #f9fd00;
}
.Title {
  font-size: 14px;
  color: #cd3508;
  font-weight: 600;
}
.Descr {
  font-size: 14px;
}
